* {
  font-family: sans-serif;
}

.glavni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 1px #D4E7FE;
}
.glavni .nav1 {
  display: flex;
  gap: 20px;
  margin-left: -300px;
}
.glavni .div1 {
  display: flex;
  gap: 10px;
}

.your {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}
.your .btn1 {
  background-color: #D4E7FE;
  width: 160px;
  height: 35px;
  border-radius: 10px;
  color: #217BF4;
  border: #217BF4;
}
.your .column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.your .btnyour {
  display: flex;
  gap: 20px;
}

.section2whyjoin {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 200px;
}
.section2whyjoin .whats {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.section2whyjoin .whats .radio {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: -370px;
  margin-top: 20px;
}
.section2whyjoin .section2img {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-left: 20px;
}

.section2div {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 200px;
  justify-content: space-evenly;
}
.section2div .divshadov {
  width: 260px;
  height: 280px;
  box-shadow: 1px 0px 10px gray;
  border-radius: 10px;
  padding: 20px 40px;
}
.section2div .divshadov .textdiv {
  display: flex;
  gap: 10px;
}
.section2div .divshadov .textdiv2 {
  display: flex;
  gap: 10px;
  margin-left: -13px;
  margin-top: 10px;
}
.section2div .divshadov2 {
  width: 260px;
  height: 280px;
  box-shadow: 1px 0px 10px gray;
  border-radius: 10px;
  padding: 20px 40px;
}
.section2div .divshadov2 .textdiv2 {
  display: flex;
  gap: 10px;
}
.section2div .divshadov2 .textdiv3 {
  display: flex;
  gap: 10px;
  margin-left: -13px;
  margin-top: 10px;
}

.section3 {
  max-width: 1200px;
  margin: auto;
  margin-top: 200px;
}
.section3 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section3 .betwen {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.section3 .betwen .columndivmem {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.section3 .betwen .columndivmem .divmem {
  width: 500px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(182, 219, 239);
}
.section3 .betwen .columndivmem .divmem .flex {
  display: flex;
  gap: 10px;
}

.section4valuble {
  max-width: 1200px;
  margin: auto;
}
.section4valuble .valu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 200px;
}
.section4valuble .valu .divnewst {
  width: 500px;
  height: 80px;
  background-color: #e1eefe;
  border-radius: 15px;
  margin-top: 30px;
}
.section4valuble .valu .divnewst .textdiv4 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 17px;
}
.section4valuble .flex2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}
.section4valuble .flex2 .divimg {
  width: 270px;
  height: 320px;
  box-shadow: 0 0 10px rgb(210, 210, 210);
  border-radius: 12px;
}
.section4valuble .flex2 .divimg .columnimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -163px;
}
.section4valuble .flex2 .divimg2 {
  width: 270px;
  height: 320px;
  border: 2px solid rgb(249, 246, 246);
  border-radius: 12px;
}
.section4valuble .flex2 .divimg2 .columnimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -183px;
}

.section4telfon {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: auto;
}
.section4telfon .divsection4 {
  display: flex;
  margin-top: 100px;
  background-color: #E5F0FD;
  height: 500px;
  width: 100%;
}
.section4telfon .divsection4 .divcolumn {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 100px;
}
.section4telfon .divsection4 .imgsect4 {
  display: flex;
  gap: 20px;
  width: 110px;
  height: 50px;
  margin-top: 30px;
}

.section5 {
  max-width: 1200px;
  margin: auto;
  margin-top: 160px;
}
.section5 .get1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section5 .getimg {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
.section5 .getimg .gitimed2 {
  display: flex;
  flex-direction: column;
}

.footer {
  max-width: 1200px;
  margin: auto;
  margin-top: 150px;
}
.footer .divfooter {
  width: 100%;
  height: 400px;
  background-color: #2B2B39;
}
.footer .divfooter .divflex {
  display: flex;
  justify-content: space-evenly;
}
.footer .divfooter .divflex .divhome {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  color: #E7E7E7;
}
.footer .divfooter .divflex .divhome .btnhome {
  display: flex;
  width: 280px;
  height: 50px;
  border: 1px solid white;
  border-radius: 12px;
  margin-top: 40px;
}
.footer .end {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: #20202D;
  align-items: center;
}/*# sourceMappingURL=style.css.map */