*
{
    font-family: sans-serif;
}

.glavni{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 1px #D4E7FE;
   .nav1{
    display: flex;
    gap: 20px;
    margin-left: -300px;
   }
   .div1{
   display: flex;
   gap: 10px;
   }
   
}
.your{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-top: 150px;
    .btn1{
        background-color: #D4E7FE;
        width: 160px;
        height: 35px;
        border-radius: 10px;
        color: #217BF4;
        border: #217BF4;
    }
    .column{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .btnyour{
        display: flex;
        gap: 20px;
    }

}
.section2whyjoin{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    .whats{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
     .radio{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-left: -370px;
        margin-top: 20px;
     }
    }
    .section2img{
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     margin-left: 20px;
    }
}
.section2div{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    justify-content: space-evenly;
    .divshadov{
        width: 260px;
        height: 280px;
        box-shadow: 1px 0px 10px gray;
        border-radius: 10px;
        padding: 20px 40px;
        .textdiv{
            display: flex;
            gap: 10px;
        }
        .textdiv2{
            display: flex;
            gap: 10px;
            margin-left: -13px;
            margin-top: 10px;
        }
    }

     .divshadov2{
        width: 260px;
        height: 280px;
        box-shadow: 1px 0px 10px gray;
        border-radius: 10px;
        padding: 20px 40px;
        .textdiv2{
            display: flex;
            gap: 10px;
        }
        .textdiv3{
            display: flex;
            gap: 10px;
            margin-left: -13px;
            margin-top: 10px;
        }
    }
}
.section3{
    max-width: 1200px;
    margin: auto;
    margin-top: 200px;
    
    .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .betwen{
        display: flex; 
        justify-content: space-evenly;
        margin-top: 60px;
    .columndivmem{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
   
    .divmem{
        width: 500px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(182, 219, 239);
        .flex{
            display: flex;
            gap: 10px;
        }
    }
  }
 }
}